html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
html {
    line-height: 1
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q,
blockquote {
    quotes: none
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
body {
    -webkit-font-smoothing: antialiased;
    color: #666;
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: justify
}

h2 {
    font-size:2em;
}
.center {
    text-align: center;
}
.container {
    width: 1055px;
    margin: 0 auto
}
.ms {
    font-family: 'Montserrat', sans-serif
}
.bold {
    font-weight: 700
}
.black {
    font-weight: 900
}
.ib {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline
}
.ib-middle {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline
}
.it {
    font-style: italic
}
.btn {
    display: block;
    font-weight: bold;
    font-family: 'Montserrat';
    cursor: pointer
}
.btn span {
    padding: 11px 58px;
    border-radius: 3px;
    letter-spacing: .1px
}
.btn-dark {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    -moz-transition: background 100ms linear;
    -o-transition: background 100ms linear;
    -webkit-transition: background 100ms linear;
    transition: background 100ms linear
}
.btn-dark:hover {
    background: #555
}
.btn-light {
    font-weight: normal;
    padding: 11px 21px;
    letter-spacing: -1.3px
}
.col,
div[class^="col-"],
div[class*=" col-"] {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px
}
.col:last-child,
div[class^="col-"]:last-child,
div[class*=" col-"]:last-child {
    margin-right: 0
}
.col-7 {
    width: 605px
}
.col-6 {
    width: 515px
}
.col-5-5 {
    width: 450px
}
.col-5 {
    width: 425px
}
.col-4 {
    width: 335px
}
.col-3 {
    width: 245px
}
.sub-header {
    color: #333;
    font-size: 60px;
    line-height: .73333333
}
.sub-header .sub-title {
    position: relative;
    color: #666;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    margin-top: 15px
}
.sub-header .sub-title p {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 14px
}
@media(max-width:640px) {
    .sub-header .sub-title p {
        padding: 0 6px
    }
}
.sub-header .sub-title:before {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    background-color: #ddd;
    width: 100%;
    height: 1px
}
.button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 170px;
    height: 40px;
    border: solid 1px #333;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -webkit-transition: background-color 100ms linear;
    transition: background-color 100ms linear
}
.button.white {
    color: #006de0;
    border-color: #006de0
}
.button.white:hover {
    background-color: #006de0;
    color: #fff
}
.button:hover {
    background-color: #333;
    color: #fff
}
@media(max-width:1054px) {
    html, body {
        width: 1055px
    }
}
@media(max-width:640px) {
    html, body, div[class^="col-"] {
        width: 100%!important
    }
    .container,
    .sm-container {
        width: auto!important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 4.6875%;
        margin-right: 4.6875%
    }
    .sub-header {
        font-size: 30px
    }
    .sub-header .sub-title {
        margin-top: 10px;
        font-size: 12px
    }
}
header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: none 0 0 no-repeat;
    background-size: cover;
    background-image: url("../images/arpoador.jpg");
    background-position: center center
}
header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 10, 0.7)));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 10, 0.7) 100%);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 10, 0.7) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 10, 0.7) 100%)
}
header nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
    -moz-transition: background-color 100ms ease-out;
    -o-transition: background-color 100ms ease-out;
    -webkit-transition: background-color 100ms ease-out;
    transition: background-color 100ms ease-out;
    position: relative;
    z-index: 10000
}
header nav .container {
    padding: 27px 0
}
header nav li {
    margin-right: 30px;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear
}
header nav li:hover {
    opacity: .5
}
header nav li a {
    font-size: 16px;
    color: #ddd;
    font-weight: bolder;
    font-f
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75)
}
header nav.static {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    margin-top: 0
}
header .main {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0;
    margin-top: -80px;
    height: 160px;
    text-align: center;
    z-index: 1000
}
.breakpoint-1 header .main {
    opacity: 1!important
}
header .main .logo {
    opacity: .85;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    overflow: hidden;
    height: 140px;
    width: 600px;
    margin: 0 auto 20px
}
header .main .logo-mobile {
    background-image: url('../images/common-s2ae6b27cad.png');
    background-repeat: no-repeat;
    overflow: hidden;
    height: 44px;
    width: 204px;
    display: none;
    margin: 0 auto 10px
}
@media(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    header .main .logo-mobile {
        background-image: url('../images/retina-s5bf82002af.png');
        background-size: 204px 912px;
        background-position: 0 -590px;
        height: 42px;
        width: 204px
    }
}
header .main .banner {
    width: 390px;
    margin: 0 auto;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: -0.5px;
    color: #fff;
    font-style: italic;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75)
}
header .learn-more {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #fff;
    z-index: 1000;
    opacity: .999;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -moz-transition: opacity 100ms linear;
    -o-transition: opacity 100ms linear;
    -webkit-transition: opacity 100ms linear;
    transition: opacity 100ms linear
}
header .learn-more:hover {
    opacity: .8
}
.breakpoint-1 header .learn-more {
    opacity: 1!important
}
header .learn-more:before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: none;
    background-image: url('../images/common-s2ae6b27cad.png');
    background-position: 0 -1736px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 12px;
    width: 20px;
    margin: 13px auto 0;
    margin-left: -10px
}
@media(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    header .learn-more:before {
        background-image: url('../images/retina-s5bf82002af.png');
        background-size: 204px 912px;
        background-position: 0 -648px;
        height: 12px;
        width: 20px
    }
}
header .learn-more:after {
    content: '';
    display: block;
    background-image: url('../images/common-s2ae6b27cad.png');
    background-position: 0 -188px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 16px;
    width: 32px;
    margin: 13px auto 0
}
header .burger {
    display: none;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 26px;
    padding-top: 7px;
    height: 20px;
    z-index: 12000;
    cursor: pointer
}
header .burger div {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75)
}
header .burger div:before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75)
}
header .burger div:after {
    content: "";
    position: absolute;
    left: 0;
    top: 21px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75)
}
@media(max-width:640px) {
    header .burger {
        display: block
    }
    header nav {
        display: none
    }
    header .main .logo {
        display: none
    }
    header .main .logo-mobile {
        display: block
    }
    header .main .banner {
        font-size: 16px;
        line-height: 1.25;
        width: 250px
    }
    header .learn-more {
        font-size: 10px;
        padding-bottom: 36px
    }
    header .learn-more:before {
        display: block
    }
    header .learn-more:after {
        display: none
    }
}
@media(max-width:640px) and (-webkit-min-device-pixel-ratio:2),
(max-width:640px) and (min--moz-device-pixel-ratio:2),
(max-width:640px) and (-o-min-device-pixel-ratio:2 / 1),
(max-width:640px) and (min-device-pixel-ratio:2),
(max-width:640px) and (min-resolution:192dpi),
(max-width:640px) and (min-resolution:2dppx) {
    header .main .logo-mobile {
        display: block
    }
}
@media(max-width:640px) {
    body.locked, html.locked {
        width: 100vw;
        height: 100vh;
        overflow: hidden
    }
}
.contents {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -moz-transition: left 300ms ease-in-out, width 300ms ease-in-out;
    -o-transition: left 300ms ease-in-out, width 300ms ease-in-out;
    -webkit-transition: left 300ms ease-in-out, width 300ms ease-in-out;
    transition: left 300ms ease-in-out, width 300ms ease-in-out;
    background-color: #eaebec;
}
@media(max-width:640px) {
    .contents:before {
        content: '';
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        z-index: -1;
        -moz-transition: opacity 300ms linear, visibility 300ms linear, z-index 300ms linear;
        -o-transition: opacity 300ms linear, visibility 300ms linear, z-index 300ms linear;
        -webkit-transition: opacity 300ms linear, visibility 300ms linear, z-index 300ms linear;
        transition: opacity 300ms linear, visibility 300ms linear, z-index 300ms linear
    }
    .contents.hidden {
        position: fixed;
        top: 0;
        left: 80%;
        overflow: hidden;
        height: 100vh
    }
    .contents.hidden:before {
        z-index: 10000;
        opacity: .65;
        visibility: visible
    }
}
.mobile-nav {
    display: none
}
@media(max-width:640px) {
    .mobile-nav {
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        background: #fff;
        z-index: 1000;
        overflow: hidden;
        white-space: nowrap;
        -moz-transition: left 300ms ease-in-out;
        -o-transition: left 300ms ease-in-out;
        -webkit-transition: left 300ms ease-in-out;
        transition: left 300ms ease-in-out
    }
    .mobile-nav li {
        height: 49px;
        line-height: 49px;
        border-top: 1px solid #e5e5e5
    }
    .mobile-nav li a {
        font-size: 16px;
        color: #333;
        display: block;
        width: 100%;
        height: 100%
    }
    .mobile-nav li a:active {
        background-color: #eee
    }
    .mobile-nav li:first-child {
        border-top: none
    }
    .mobile-nav.visible {
        left: 0
    }
}
section.first-block, section.second-block {
    font-size: 20px;
    margin: 92px 0;
    padding: 0 187px;
    letter-spacing: -0.4px;
    line-height: 1.6
}
section.first-block .spacing, section.second-block .spacing {
    margin: 20px 0 40px
}
section.first-block .btn {
    width: 245px;
    height: 50px;
    display: block;
    margin: 0 auto
}
section.first-block .btn span {
    padding: 0;
    line-height: 50px
}
section.first-block .bottom-link {
    font-size: 16px;
    font-style: italic;
    color: #666;
    text-decoration: underline;
    display: block;
    margin-top: 13px;
    letter-spacing: -0.8px;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -webkit-transition: color 100ms linear;
    transition: color 100ms linear
}
section.first-block .bottom-link:hover {
    color: #006de0
}
@media(max-width:640px) {
    section.first-block {
        margin-top: 42px;
        margin-bottom: 55px;
        padding: 0;
        font-size: 16px;
        line-height: 1.5625
    }
}

.second-block {
    color: white;
}

.bg-second-block {
    background-color: #334;
}

.skew-container {
    position: relative;
    padding: 50px 0;
}

.skew-container .skew-content {
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
    /* padding-top: 50px; */
    position: relative;
    z-index: 2;
}

.skew-container .skew {
    -webkit-transform: perspective(800px) rotateY(-5deg);
    -moz-transform: perspective(800px) rotateY(-5deg);
    -o-transform: perspective(800px) rotateY(-5deg);
    transform: perspective(800px) rotateY(-5deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10vw;
    width: 100vw;
    height: 100%;
    z-index: 1;
    outline: 1px solid transparent;
}
#map {
    left: -20%;
    width: 140%;
    height: 400px;
    padding: 0;
    margin: 0;
}


footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #333;
    font-style: italic;
    font-size: 18px;
    height: 72px;
    text-align: left;
    padding-top: 26px;
    letter-spacing: -0.4px;
    margin-top: 80px
}
footer,
footer a {
    color: #ccc
}
footer a {
    text-decoration: underline
}
footer .left a {
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -webkit-transition: color 100ms linear;
    transition: color 100ms linear
}
footer .left a:hover {
    color: #0060e0
}
@media(max-width:640px) {
    footer {
        margin-top: 42px;
        padding-top: 0;
        height: 40px;
        overflow: hidden
    }
}
a {
    text-decoration: none
}
